body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

p {
  color: #8f8f8f;
}

/*  headings  */
.heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
}

/*  sections  */
.coloured-section {
  background-color: #ff4c68;
  color: #ffffff;
}

.white-section {
  background-color: #fff;

/*  container  */
.container-fluid {
  padding: 7% 15%;
}

/*  navigation bar  */
.navbar-brand {
  font-family: 'ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

/*  title  */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 20%;
}

/*  features  */
#features {
  position: relative;
}

.feature-title {
  font-weight: 900;
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/*    testimonial    */
#testimonials {
  background-color: #ef8172;
}

.testimonial-test {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%
}

/*     press       */
#press {
  background-color: #ef8172;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/*  pricing   */
#pricing {
  padding: 100px;
}

.pricing-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/*  footer  */
#footer {
  padding: 7% 15% 1%;
}

.icon2 {
  padding: 0 1%;
  color: black;
}
.icon2:hover {
  color: #8f8f8f;
}

/*  responsiveness  */
@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
